<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SqlServer" connectionString="Data Source=18.228.87.121,10002;Initial Catalog=ATLASQUANTUMTEST;User Id=sa;Password=@dm1n102030" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
